@page
@model Portal.Areas.Settings.Pages.Import.PersonModel
@using Timesheet.Common.Enums;
@{
    ViewData["Title"] = "Import trenérů";
}

<div id="row-edit" class="row">
    <div class="col-12">
        <div id="card-edit" class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Csv</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <form id="form-upload-excel" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group custom-file">
                                <input accept=".csv, .txt" class="custom-file-input" type="file" asp-for="CsvUpload" />
                                <label asp-for="CsvUpload" class="custom-file-label"></label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

@if (Model.PersonImport != null)
{
    <div id="row-table" class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Načtení trenéři</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="dataTable" class="table table-striped table-hover dt-responsive nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>

                                        </th>
                                        <th>
                                            Aktivní
                                        </th>
                                        <th>
                                            Jméno
                                        </th>
                                        <th>
                                            Datum narození
                                        </th>
                                        <th>
                                            Sekce
                                        </th>
                                        <th>
                                            Dotace
                                        </th>
                                        <th>
                                            Pozice
                                        </th>
                                        <th>
                                            Daň
                                        </th>
                                        <th>
                                            Adresa
                                        </th>
                                        <th>
                                            Banka
                                        </th>
                                        <th>
                                            Doklad
                                        </th>
                                        <th>
                                            Upozornění
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.PersonImport)
                                    {
                                        <tr>
                                            <td class="project-state">
                                                @{
                                                    if (item.Success)
                                                    {
                                                        <span class="badge badge-success" data-toggle="tooltip" data-placement="top" title="Načtený výkaz je v pořádku"><i class="fas fa-check"></i></span>

                                                    }
                                                    else if (item.CanPassErrors)
                                                    {
                                                        <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Výkaz obsahuje propustné chyby"><i class="fas fa-question"></i></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Při načítání nastala nepropustná chyba"><i class="fas fa-times"></i></span>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @{
                                                    if (item.Entity.IsActive)
                                                    {
                                                        <span class="badge badge-success">Aktivní</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-warning">Neaktivní</span>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Entity.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Entity.DateBirth)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Entity.Section.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Entity.PaidFrom.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Entity.Job.Name)
                                            </td>
                                            <td>
                                                @{
                                                    if (item.Entity.HasTax)
                                                    {
                                                        <span class="badge badge-warning">Plátce</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-success">Podepsané prohlášení</span>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Entity.FullAddress)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Entity.FullBankAccount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Entity.IdentityDocument)
                                            </td>
                                            <td>
                                                @{
                                                    foreach (var x in item.Errors)
                                                    {
                                                        switch (x)
                                                        {
                                                            case PersonImportError.DateBirthMissing:
                                                                <span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Informace o datu narození chybí">Datum narození</span>
                                                                break;
                                                            case PersonImportError.DateBirthBadFormat:
                                                                <span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Informace o datu narození má chybný format">Datum narození</span>
                                                                break;
                                                            case PersonImportError.IsActiveMissing:
                                                                <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Informace o aktivnosti chybí">Aktivní</span>
                                                                break;
                                                            case PersonImportError.IsActiveBadFormat:
                                                                <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Informace o aktivností má chybný formát">Aktivní</span>
                                                                break;
                                                            case PersonImportError.HasTaxMissing:
                                                                <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Informace o placení daní chybí">Daň</span>
                                                                break;
                                                            case PersonImportError.HasTaxBadFormat:
                                                                <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Informace o placení daní má chybný formát">Daň</span>
                                                                break;
                                                            case PersonImportError.NameMissing:
                                                                <span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Informace o jménu chybí">Jméno</span>
                                                                break;
                                                            case PersonImportError.SurnameMissing:
                                                                <span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Informace o příjmení chybí">Příjmení</span>
                                                                break;
                                                            case PersonImportError.JobMissing:
                                                                <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Informace o pozici chybí">Pozice</span>
                                                                break;
                                                            case PersonImportError.JobUndefined:
                                                                <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Vyplněná pozice neexistuje">Pozice</span>
                                                                break;
                                                            case PersonImportError.PaidFromMissing:
                                                                <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Informace o dotaci chybí">Dotace</span>
                                                                break;
                                                            case PersonImportError.PaidFromUndefined:
                                                                <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Vyplněná dotace neexistuje">Dotace</span>
                                                                break;
                                                            case PersonImportError.SectionMissing:
                                                                <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Informace o sekci chybí">Sekce</span>
                                                                break;
                                                            case PersonImportError.SectionUndefined:
                                                                <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Vyplněná sekce neexistuje">Sekce</span>
                                                                break;
                                                            case PersonImportError.PersonNotUnique:
                                                                <span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Takový trenér již existuje">Duplicitní</span>
                                                                break;
                                                        }
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <a asp-page="./Import/Person" class="btn btn-default">
                                 Zrušit
                            </a>
                            <div class="float-right">
                                <form method="post" asp-page-handler="Save">
                                    @Html.HiddenFor(model => model.PersonImportJSON)
                                    <div class="form-inline">
                                        <div class="custom-control custom-switch mr-3">
                                            <input type="checkbox" asp-for="OverrideErrors" class="custom-control-input" id="overrideErrorsSwitch">
                                            <label class="custom-control-label" asp-for="OverrideErrors" for="overrideErrorsSwitch"></label>
                                        </div>
                                        <input type="submit" value="Uložit" class="btn btn-info" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init();
            $('#menu-data').click();

            $('#CsvUpload').change(function (e) {
                if (e.target.files.length == 1) {
                    $('#form-upload-excel').submit();
                }
            });
        })
    </script>
    <script>
        var dataTableDocs;
        $(document).ready(function () {
            dataTableDocs = $('#dataTable').DataTable({
                "language": {
                    "url": '/lib/datatables-language/cs.json'
                },
                "ordering": true,
                "searching": true,
                "paging": true,
                "responsive": true,
                "lengthChange": true,
                "autoWidth": true,
                "info": false,
                "stateSave": true,
                "columnDefs": [
                    {
                        "targets": [0],
                        "searchable": false
                    },
                    {
                        "targets": [11],
                        "orderable": false,
                        "searchable": false
                    }]
            });
        });
        function resetTable() {
            dataTableDocs.state.clear();
            window.location.reload();
        };
    </script>
    @if (ViewData.ModelState["Error"] != null)
    {
        foreach (var item in ViewData.ModelState["Error"].Errors)
        {
        <script>
                    toastr.error("@item.ErrorMessage");
        </script>
        }
    }
    @if (ViewData.ModelState["Success"] != null)
    {
        foreach (var item in ViewData.ModelState["Success"].Errors)
        {
        <script>
                    toastr.success("@item.ErrorMessage");
        </script>
        }
    }
}