@page
@model Portal.Areas.Settings.Pages.Import.TimesheetModel
@using Portal.Models
@{
    ViewData["Title"] = "Import";
}

<div id="row-edit" class="row">
    <div class="col-12">
        <div id="card-edit" class="card">
            <div class="card-header">
                <h3 class="card-title">Import</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                    <div class="row">
                        <section class="col-lg-6 connectedSortable">
                            <form id="form-upload-excel" method="post" enctype="multipart/form-data">
                                <div class="card card-success">
                                    <div class="card-header">
                                        <h3 class="card-title">Excel</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group custom-file">
                                                    <input accept=".xlsx, .xls" class="custom-file-input" type="file" asp-for="ExcelUpload" />
                                                    <label asp-for="ExcelUpload" class="custom-file-label"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card -->
                                </form>
                        </section>
                        <section class="col-lg-6 connectedSortable">
                            <div class="card card-warning">
                                <div class="card-header">
                                    <h3 class="card-title">CSV</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group custom-file">
                                                <input accept=".xlsx, .xls" class="custom-file-input" type="file" asp-for="ExcelUpload" />
                                                <label asp-for="ExcelUpload" class="custom-file-label"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </section>
                    </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

@if (Model.TimesheetImport != null)
{
    <div id="row-table" class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Načtené výkazy práce</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="dataTable" class="table table-striped table-hover dt-responsive nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>

                                        </th>
                                        <th>
                                            Trenér
                                        </th>
                                        <th>
                                            Začátek
                                        </th>
                                        <th>
                                            Konec
                                        </th>
                                        <th>
                                            Funkce
                                        </th>
                                        <th>
                                            Upozornění
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TimesheetImport)
                                    {
                                        <tr>
                                            <td class="project-state">
                                                @{
                                                    if (item.Success)
                                                    {
                                                        <span class="badge badge-success" data-toggle="tooltip" data-placement="top" title="Načtený výkaz je v pořádku"><i class="fas fa-check"></i></span>

                                                    }
                                                    else if (item.CanPassErrors)
                                                    {
                                                        <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Výkaz obsahuje propustné chyby"><i class="fas fa-question"></i></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Při načítání nastala nepropustná chyba"><i class="fas fa-times"></i></span>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Timesheet.Person.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Timesheet.DateTimeFrom)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Timesheet.DateTimeTo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Timesheet.Job.Name)
                                            </td>
                                            <td>
                                                @{
                                                    foreach (var x in item.Errors)
                                                    {
                                                        switch (x)
                                                        {
                                                            case TimesheetImportError.JobMissing:
                                                                <span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Informace o pozici chybí">Pozice</span>
                                                                break;
                                                            case TimesheetImportError.JobUndefined:
                                                                <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Vyplněná pozice neexistuje">Pozice</span>
                                                                break;
                                                            case TimesheetImportError.PersonMissing:
                                                                <span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Informace o trenérovi chybí">Trenér</span>
                                                                break;
                                                            case TimesheetImportError.PersonUndefined:
                                                                <span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Vyplněný trenér neexistuje">Trenér</span>
                                                                break;
                                                            case TimesheetImportError.DateTimeFromMissing:
                                                                <span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Informace o začátku chybí">Začátek</span>
                                                                break;
                                                            case TimesheetImportError.DateTimeToMissing:
                                                                <span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Informace o konci chybí">Konec</span>
                                                                break;
                                                            case TimesheetImportError.TimesheetNotUnique:
                                                                <span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Takový výkaz již existuje">Duplicitní</span>
                                                                break;
                                                        }
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <a asp-page="./Import/Timesheet" class="btn btn-default">
                                 Zrušit
                            </a>
                            <div class="float-right">
                                <form method="post" asp-page-handler="Save">
                                    @Html.HiddenFor(model => model.TimesheetImportJSON)
                                    <div class="form-inline">
                                        <div class="custom-control custom-switch mr-3">
                                            <input type="checkbox" asp-for="OverrideErrors" class="custom-control-input" id="overrideErrorsSwitch">
                                            <label class="custom-control-label" asp-for="OverrideErrors" for="overrideErrorsSwitch"></label>
                                        </div>
                                        <input type="submit" value="Uložit" class="btn btn-info" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init();
            $('#menu-data').click();

            $('#ExcelUpload').change(function (e) {
                if (e.target.files.length == 1) {
                    $('#form-upload-excel').submit();
                }
            });
        })
    </script>
    <script>
        var dataTableDocs;
        $(document).ready(function () {
            dataTableDocs = $('#dataTable').DataTable({
                "language": {
                    "url": '/lib/datatables-language/cs.json'
                },
                "ordering": true,
                "searching": true,
                "paging": true,
                "responsive": true,
                "lengthChange": true,
                "autoWidth": true,
                "info": false,
                "stateSave": true,
                "columnDefs": [
                    {
                        "targets": [0],
                        "searchable": false
                    },
                    {
                        "targets": [5],
                        "orderable": false,
                        "searchable": false
                    }]
            });
        });
        function resetTable() {
            dataTableDocs.state.clear();
            window.location.reload();
        };
    </script>
    @if (ViewData.ModelState["Error"] != null)
    {
        foreach (var item in ViewData.ModelState["Error"].Errors)
        {
        <script>
                    toastr.error("@item.ErrorMessage");
        </script>
        }
    }
    @if (ViewData.ModelState["Success"] != null)
    {
        foreach (var item in ViewData.ModelState["Success"].Errors)
        {
        <script>
                    toastr.success("@item.ErrorMessage");
        </script>
        }
    }
}