@page
@model IndexModel
@{
    ViewData["Title"] = "Úvodní stránka";
}

<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@Model.TimesheetsHoursInCurrentMonth <sup style="font-size: 20px"> h</sup></h3>

                <p>Vykázaných hodin v aktuálním měsíci</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a asp-area="Timesheets" asp-page="/Index" class="small-box-footer">Zobrazit <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@Model.PayedAmountInCurrentAmount <sup style="font-size: 20px"> Kč</sup></h3>

                <p>Vyplacených odměn v aktuálním měsíci</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a asp-area="Payments" asp-page="/Index" class="small-box-footer">Zobrazit <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@Model.ActivePeopleCount</h3>

                <p>Aktivních trenérů</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a asp-area="People" asp-page="/Index" class="small-box-footer">Zobrazit <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@Model.TimesheetsWithoutPayedPayment</h3>

                <p>Výkazů práce bez zaplacené odměny</p>
            </div>
            <div class="icon">
                <i class="ion ion-card"></i>
            </div>
            <a asp-area="Timesheets" asp-page="/Index" asp-page-handler="NotPayed" class="small-box-footer">Zobrazit <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section class="col-lg-7 connectedSortable">
        <!-- TABLE: LATEST ORDERS -->
        <div class="card">
            <div class="card-header border-transparent">
                <h3 class="card-title">Nové výkazy</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                            <tr>
                                <th>Trenér</th>
                                <th>Datum</th>
                                <th>Čas</th>
                                <th>Platba</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ 
                                foreach (var item in Model.LastFiveTimesheets)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Person.FullName)
                                        </td>
                                        <td>
                                            @item.DateTimeTo.Value.ToString("dd. MM. yyyy")
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HoursTime)
                                        </td>
                                        <td>
                                            @{
                                                if (item.Payment != null && item.Payment.IsPaid)
                                                {
                                                    <a asp-area="Payments" asp-page="Index" asp-route-id="@item.PaymentId" class="badge badge-success">@Html.DisplayFor(modelItem => item.Payment.PaymentDateTime)</a>

                                                }
                                                else if (item.Payment != null)
                                                {
                                                    <a asp-area="Payments" asp-page="Index" asp-route-id="@item.PaymentId" class="badge badge-warning">Nezaplaceno</a>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-warning">Neexistuje</span>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <a asp-area="Timesheets"asp-page="/Index" asp-page-handler="Edit" asp-route-id="0" asp-fragment="card-edit"  class="btn btn-sm btn-info float-left">Založit nový výkaz</a>
                <a asp-area="Timesheets"asp-page="/Index" class="btn btn-sm btn-secondary float-right">Zobrazit všechno</a>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->
        <!-- ANOTHER 2 CARDS -->
    </section>
    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable">
        <!-- ANOTHER 2 CARDS -->
    </section>
    <!-- right col -->
</div>
