@page
@model Portal.Areas.RewardSummaries.Pages.IndexModel

@{
    ViewData["Title"] = "Přehled odměn";
}

<!-- Timelime example  -->
<div class="row">
    <div class="col-md-12">
        <table id="dataTable" class="table table-hover dt-responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        Trenér
                    </th>
                    <th>
                        Rok
                    </th>
                    <th>
                        Měsíc
                    </th>
                    <th>
                        Odměna
                    </th>
                    <th>
                        Daň
                    </th>
                    <th>
                        Výplata
                    </th>
                    <th>
                        Platba
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RewardSummary)
                {
                    <tr id="rowId-@Html.DisplayFor(modelItem => item.Id)">
                        <td>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Person.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDateTimeYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDateTimeMonth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reward)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tax)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RewardToPay)
                        </td>
                        <td class="project-state">
                            @{
                                if (item.Payment != null && item.Payment.IsPaid)
                                {
                                    <a asp-area="Payments" asp-page="Index" asp-route-id="@item.PaymentId" class="badge badge-success">@Html.DisplayFor(modelItem => item.Payment.PaymentDateTime)</a>

                                }
                                else if (item.Payment != null)
                                {
                                    <a asp-area="Payments" asp-page="Index" asp-route-id="@item.PaymentId" class="badge badge-warning">Nezaplaceno</a>
                                }
                                else
                                {
                                    <span class="badge badge-danger">Neexistuje</span>
                                }
                            }
                        </td>
                        <td class="project-actions text-right">
                                <a target="_blank" rel="noopener noreferrer" class="btn btn-secondary btn-sm" asp-area="RewardSummaries" asp-page="Print" asp-route-year="@item.CreateDateTimeYear" asp-route-month="@item.CreateDateTimeMonth">
                                <i class="fas fa-print">
                                </i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.col -->
</div>
@section Scripts {
    <script>
        var dataTableRewards;
        $(document).ready(function () {
            dataTableRewards = $('#dataTable').DataTable({
                "language": {
                    "url": '/lib/datatables-language/cs.json'
                },
                "ordering": true,
                "searching": true,
                "paging": true,
                "responsive": true,
                "lengthChange": true,
                "autoWidth": true,
                "info": false,
                "stateSave": true,
                "rowGroup": {
                    "startRender": function (rows, group) {
                        var rewardSum = rows
                            .data()
                            .pluck(4)
                            .reduce(function (a, b) {
                                return a + b.replace(/[^\d]/g, '') * 1;
                            }, 0) / 100;
                        rewardSum = $.fn.dataTable.render.number('', ',', 2).display(rewardSum);

                        var taxSum = rows
                            .data()
                            .pluck(5)
                            .reduce(function (a, b) {
                                return a + b.replace(/[^\d]/g, '') * 1;
                            }, 0) / 100;
                        taxSum = $.fn.dataTable.render.number('', ',', 2).display(taxSum);

                        var rewardToPaySum = rows
                            .data()
                            .pluck(6)
                            .reduce(function (a, b) {
                                return a + b.replace(/[^\d]/g, '') * 1;
                            }, 0) / 100;
                        rewardToPaySum = $.fn.dataTable.render.number('', ',', 2).display(rewardToPaySum);

                        var year = 0;
                        var month = 0;
                        if (group.length == 1 || group.length == 2) {
                            month = group;
                            year = rows
                                .data()
                                .pluck(2)[0];
                        }
                        else {
                            year = group;
                        }

                        return $('<tr/>')
                            .append('<td colspan="4">' + group + '</td>')
                            .append('<td>' + rewardSum + '</td>')
                            .append('<td>' + taxSum + '</td>')
                            .append('<td>' + rewardToPaySum + '</td>')
                            .append('<td/>')
                            .append('<td class="project-actions text-right"><a href="/RewardSummaries/Print?year=' + year + '&amp;month=' + month + '" target="_blank" rel="noopener noreferrer" class="btn btn-secondary btn-sm" ><i class="fas fa-print"></i></a></td>');
                    },
                    "endRender": null,
                    "dataSrc": [2, 3]
                },
                "columnDefs": [
                    {
                        "targets": [0],
                        "searchable": false,
                        "orderable": false
                    },
                    {
                        "targets": [-1],
                        "orderable": false,
                        "searchable": false
                    }],
                "dom": '<"top"<"toolbar">f>rt<"bottom"<"row"<"col-md-6"l><"col-md-6"p>>>',
                "initComplete": function (settings, json) {
                    $("div.toolbar").html('<a href="/RewardSummaries/Print" class="btn btn-sm btn-info float-left"><i class="nav-icon fas fa-print"></i> Všechny výkazy</a><button class="btn btn-sm btn-default float-left ml-2" onclick="resetTable()"><i class="nav-icon fas fa-filter"></i> Obnovit výchozí filtrování</button>');

                }
            });
        });
        function resetTable() {
            dataTableRewards.state.clear();
            window.location.reload();
        };
    </script>
}
